Options -Indexes

RewriteEngine On

# If the request is already targeting a real file or directory, pass it through
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Forward all requests into the public/ subfolder
RewriteRule ^(.*)$ public/$1 [L,QSA]
